@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    max-width: 1280px;
  }

  body {
    display: flex;
  }
}
